<head>
    <title>Home</title>
    <% include partials/headers %>
    <link rel="stylesheet" href="css/home.css">
    <script src="js/home.js"></script>
</head>

<body>
    <div class="container">
        <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
        <div class="mail-box">
            <aside class="sm-side">
                <ul class="inbox-nav inbox-divider">
                        <% for (let box of boxes) { %>
                    <li>
                        <span href="/home" onclick="loadEmails(event, this.innerHTML)">
                            <%= box.name %>
                        </span>
                    </li>
                    <%}; %>

                </ul>

                <div class="inbox-body text-center">
                    <div class="btn-group">
                        <a class="btn mini btn-primary" href="javascript:;">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                    <div class="btn-group">
                        <a class="btn mini btn-success" href="javascript:;">
                            <i class="fa fa-phone"></i>
                        </a>
                    </div>
                    <div class="btn-group">
                        <a class="btn mini btn-info" href="javascript:;">
                            <i class="fa fa-cog"></i>
                        </a>
                    </div>
                </div>

            </aside>
            <aside class="lg-side">

                <div class="inbox-head">

                    <h3>Inbox</h3>

                    <form action="/" class="pull-right position">
                        <div class="input-append">
                            <input type="text" class="sr-input" placeholder="Search Mail">
                            <button class="btn sr-btn" type="button"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                    <form action="/logout" method="GET" class="pull-right position">
                        <div class="input-append">
                            <button type="submit" value="Logout" class="btn btn-warning btn-lg">
                                <span class="glyphicon glyphicon-log-out"></span> Log out
                            </button>
                        </div>
                    </form>

                </div>
                <div class="inbox-body">
                    <div class="mail-option">
                        <div class="chk-all">
                            <input type="checkbox" class="mail-checkbox mail-group-checkbox">
                            <div class="btn-group">
                                <a data-toggle="dropdown" href="/" class="btn mini all" aria-expanded="false">
                                    All
                                    <i class="fa fa-angle-down "></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/"> None</a></li>
                                    <li><a href="/"> Read</a></li>
                                    <li><a href="/"> Unread</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="btn-group">
                            <a data-original-title="Refresh" data-placement="top" data-toggle="dropdown" href="/" class="btn mini tooltips">
                                <i class=" fa fa-refresh"></i>
                            </a>
                        </div>
                        <div class="btn-group hidden-phone">
                            <a data-toggle="dropdown" href="/" class="btn mini blue" aria-expanded="false">
                                More
                                <i class="fa fa-angle-down "></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/"><i class="fa fa-pencil"></i> Mark as Read</a></li>
                                <li><a href="/"><i class="fa fa-ban"></i> Spam</a></li>
                                <li class="divider"></li>
                                <li><a href="/"><i class="fa fa-trash-o"></i> Delete</a></li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <a data-toggle="dropdown" href="/" class="btn mini blue">
                                Move to
                                <i class="fa fa-angle-down "></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/"><i class="fa fa-pencil"></i> Mark as Read</a></li>
                                <li><a href="/"><i class="fa fa-ban"></i> Spam</a></li>
                                <li class="divider"></li>
                                <li><a href="/"><i class="fa fa-trash-o"></i> Delete</a></li>
                            </ul>
                        </div>

                        <ul class="unstyled inbox-pagination">
                            <li>
                                <a class="np-btn" href="/"><i class="fa fa-angle-left  pagination-left"></i></a>
                            </li>
                            <li>
                                <a class="np-btn" href="/"><i class="fa fa-angle-right pagination-right"></i></a>
                            </li>
                        </ul>
                    </div>
                    <table class="table table-inbox table-hover" id="emails">
                        <tbody>
                            <tr class="unread">
                                <td class="inbox-small-cells">
                                    <input type="checkbox" class="mail-checkbox">
                                </td>
                                <td class="view-message  dont-show">PHPClass</td>
                                <td class="view-message ">Added a new class: Login Class Fast Site</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </aside>
        </div>
    </div>
</body>